.App {
  background-color: #333947;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.App-container {
  width: 90%;
  color: white;
}

h1 {
  color: white;
  margin: 1rem 0;
}
span {
  color: white;
}
.ant-steps-item-wait .ant-steps-item-icon {
  background-color: #282d38;
}
.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: rgb(255 255 255 / 45%);
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: white;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: rgb(255 255 255 / 45%);
}

.ant-btn {
  background-color: transparent;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  background-color: blue;
}
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: transparent;
  border-color: #333a47;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: rgb(255 255 255 / 45%);
}

.step-container {
  display: flex;
  justify-content: center;
}

.step-container > div {
  width: 80%;
}

.background-dark {
  background-color: #282d38;
  color: white;
}

.ant-table-thead > tr > th {
  background-color: #282d38;
  color: white;
}
.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #5dbff738;
  border-color: rgba(0, 0, 0, 0.03);
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #fafafa38;
}

.steps-content {
  margin: 2em 0;
  min-height: 30vh;
}

.second-step-list {
  display: flex;
  align-items: center;
}
.second-step-text {
  color: white;
  margin: 0 2em;
}
h2 {
  color: white;
}

.ant-input {
  background-color: #1c1f26;
  color: white;
  width: 200px;
}
.ant-input-number-input {
  background-color: #1c1f26;
  color: white;
}

.thirdstep-input-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.thirdstep-input-container label {
}

.ant-message-notice-content {
  background-color: #333947;
}

.ant-picker {
  background-color: #1c1f26;
  color: white;
}
.ant-picker-body,
.ant-picker-content,
.ant-picker-content th,
.ant-picker-footer,
.ant-picker-header-view,
.ant-picker-cell-inner,
.ant-picker-input input,
.ant-picker-header {
  background-color: #1c1f26;
  color: white;
}
